@media only screen and (min-width: 600px){
body{
  background-color: #ECF2F8;
  font-size: 13px;
}

.article{
  background-color: white;
  border-radius: 10px;
  height: 33.33vh;
  margin:33.33vh auto;
  width: 49%;
  box-shadow: 2px 20px 20px rgba(0,0,0,0.08);
}

.image{
  float:left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 40%;
  background-image: url("./images/drawers.jpg");
  background-size: cover;
}

.content{
  position: relative;
  float: right;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 60%;
  padding: 12px 20px 0 24px;
}

#title{
  margin: 10px 0 7px 0;
  font-size: 1.17em;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  color: #4E5765;
}

p{
  /* margin: 0 0 10px 0; */
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #6D7F97;
}

.image2{
  float: left;
  background-image: url("./images/avatar-michelle.jpg");
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.contact{
  float: left;
  padding-left: 24px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  color: #4E5765;
}

.date{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: #6D7F97;
}

.arrow{
  position: absolute;
  bottom: 18px;
  right: 24px;
  background-color: #ECF2F8;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
  color: #4E5765;
  border: none;
}

.arrow:hover{
  background-color: #4E5765;
  color: white;
}

#tooltipv{
  visibility: hidden;

}

.tooltiptext {
  box-shadow: 2px 10px 10px rgba(0,0,0,0.08);
  padding: 15px 0 0 0;
  height: 14%;
  width: 50%;
  background-color: #4E5765;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: 30%;
  right: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #4E5765 transparent transparent transparent;
}

}

@media only screen and (max-width: 600px){
  body{
    background-color: #ECF2F8;
    font-size: 13px;
  }
  .article{
    background-color: white;
    border-radius: 10px;
    height:75vh;
    margin: 12.5vh auto;
    width: 80%;
    box-shadow: 2px 20px 20px rgba(0,0,0,0.08);
  }

  .image{
    float:left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40%;
    width: 100%;
    background-image: url("./images/drawers.jpg");
    background-size: cover;
  }

  .content{
    position: relative;
    float: right;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60%;
    width: 100%;
    padding:16px 40px 0 40px;
  }
  /* h3{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #4E5765;
  } */#title{
    margin: 10px 0 7px 0;
    font-size: 1.17em;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #4E5765;
  }

  p{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #6D7F97;
  }

  .image2{
    position: absolute;
    bottom: 16px;
    /* float: left; */
    background-image: url("./images/avatar-michelle.jpg");
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }

  .contact{
    position: absolute;
    bottom: 16px;
    padding-left: 15%;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #4E5765;
  }

  .date{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #6D7F97;
  }

  .arrow{
    position: absolute;
    bottom: 18px;
    right: 24px;
    background-color: #ECF2F8;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    color: #4E5765;
    border: none;
  }

  .arrow:hover{
    background-color: #6D7F97;
    color: white;
  }

  #tooltipv{
    visibility: hidden;
  }

  .tooltiptext {
    box-shadow: 2px 10px 10px rgba(0,0,0,0.08);
    box-sizing: border-box;
    padding: 5% 0 5% 15%;
    height: 20%;
    background-color: #4E5765;
    color: #fff;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

}
